root = true
[*]
insert_final_newline = true
end_of_line = 'lf'
trim_trailing_whitespace = true
[*.py]
charset = 'utf8'
indent_style = 'space'
indent_size = 4
[*.js]
charset = 'utf8'
indent_style = 'space'
indent_size = 2
[*.rst]
charset = 'utf8'
indent_style = 'space'
indent_size = 3

