include AUTHORS
include CONTRIBUTING.md
include COPYING
include README.md
include new_freeze.py
include query_tests.py
include generate_translations.py

graft openshot_qt

graft doc
graft installer
graft translations
graft xdg

prune doc/_build

global-exclude *.py[co]
global-exclude __pycache__
global-exclude *.autosave
global-exclude *~
global-exclude .gitignore

prune .git
prune build
prune dist

